@font-face {
  font-family: "banquise";
  src: url("Banquise-Regular.woff");
  text-rendering: optimizeLegibility;
  font-weight: 100;
}

.title {
  font-family: "banquise";
  text-align: center;
}

.mainWindow {
  font-family: "banquise";
  width: 1000px;
  margin: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

// Browser controller

.browserController {
  display: block;
  border: 1px solid black
}

.browserToolbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.bcToolbarLeft {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.bcToolbarRight {
  width: 20%;
  display: flex;
  justify-content: space-between
}

// browser

// Audio Source dropdown

.asDropdownContent {
  position: absolute;
  background-color: white;
  z-index: 10;
  border: 1px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

// Settings panel

.settingsPanel {
  text-align: center;
  position: fixed;
  top:25%;
  transform: translateX(-120%);
  background-color: white;
  display: inline-block;
  z-index: 30;
  padding: 2em;
  border: 1px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.settingsHeader {
  padding-bottom: 1em;
}

.settingsHeader button {
  position: absolute;
  left: 90%;
}

.settingsBg {
  position:fixed;
}

// SLICES

.slicesMenu {
  display: flex;
  height: 15em;
}

// Slices list

.slicesListContainer {
  width: 25%;
  overflow-y: scroll;
  scrollbar-width: 10px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}


.slicesListHeader {
  border-bottom: 1px solid black;
  display: flex;
  position: sticky;
  top: 0%;
  background-color: white;
  justify-content: space-evenly
}

.sliceIndex {
  padding: 2px;
  border-bottom: 1px solid black;
  display: flex;
}

.sliceIndexButtons {
  width: 25%;
  display: grid;
  padding-left: 1em;
  padding-right: 1em;
}

.sliceIndexInfo {
  width: 75%;
  display: grid;
}

.highlightedSlice {
  background-color: gray;
}

// Slice controller
.sliceController {
  width: 75%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.sliceControllerToolbar {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-evenly;
}

.sliceControllerToolbarSpacer {
  width: 70%;
}

.sliceWaveform {
  overflow-x: 'hidden';
}