@font-face {
  font-family: "banquise";
  src: url("Banquise-Regular.woff");
  text-rendering: optimizeLegibility;
  font-weight: 100;
}

.slicesMenu {
  display: flex;
}

.sliceController {
width: 75%;
}

.slicesList {
width: 25%;
}

.title {
  font-family: "banquise";
  text-align: center;
}

.mainWindow {
  font-family: "banquise";
  width: 70%;
  margin: auto;
}

// Browser controller

.browserController {
  display: block;
}

.browserToolbar {
  display: flex;
  justify-content: space-between;
}

.bcToolbarLeft {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.bcToolbarRight {
  width: 20%;
  display: flex;
  justify-content: space-between
}

// Audio Source dropdown

.asDropdownContent {
  position: absolute;
  background-color: white;
  z-index: 10;
}

.asDropdown {
}

// Settings panel

.settingsPanel {
  text-align: center;
  position: fixed;
  top:25%;
  background-color: white;
  display: inline-block;
  z-index: 30;
  padding: 2em;
}

.settingsHeader {
  padding-bottom: 1em;
}

.settingsHeader button {
  position: absolute;
  left: 90%;
}

.settingsBg {
  position:fixed;
}