@font-face {
  font-family: "banquise";
  src: url("Banquise-Regular.woff");
  text-rendering: optimizeLegibility;
  font-weight: 100;
}

.slicesMenu {
  display: flex;
}

.sliceController {
width: 75%;
}

.slicesList {
width: 25%;
}

.mainWindow {
  font-family: "banquise";
  width: 70%;
  margin: auto;
}